{% extends "base/com_base.html" %}


{% block panel_itle %}
    <div class="panel-heading">
        <h3 class="panel-title">主机管理</h3>
    </div>
{% endblock panel_itle %}

{% block table %}
    <!--表格 工具栏结束-->
    <div class="row table-toolbar">
        <div class="col-md-9">
            <div class="input-group">
                <td id="Search_ip">
                    <input type="text" class="form-control" placeholder="Search for ip...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </td>
                <td id="Search_type">
                    <input type="text" class="form-control" placeholder="Search for type...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </td>
                <td>
                    <input type="Search_idc" class="form-control" placeholder="Search for idc...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </td>
            </div>
        </div><!-- /.col-lg-6 -->
        {% block add_host %}
        {% endblock add_host %}
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>主机名</th>
            <th>内网iP</th>
            <th>外网iP</th>
            <th>类型</th>
            <th>机房</th>
            <th>管理人员</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tb">
        {% for host in host_list %}
            <tr nid="{{ host.id }}">
                {#                <td>{{ forloop.counter }}</td>#}
                <td na="nid">{{ host.id }}</td>
                <td na="host_name">{{ host.host_name }}</td>
                <td>{{ host.in_ip }}</td>
                <td>{{ host.out_ip }}</td>
                <td>{{ host.Host_group }}</td>
                <td>{{ host.idc }}</td>
                <td>{{ host.user }}</td>
                <td>
                    <a href="#">
                        <button class="btn btn-info btn-sm">
                            <i class="fa  fa-fw" aria-hidden="true"></i>连接
                        </button>
                    </a>
                    <a href="#">
                        <button class="btn btn-info btn-sm">
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>监控
                        </button>
                    </a>
                    {% block operation %}
                    {% endblock operation %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock table %}


{% block model %}
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除主机</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        <input type="text" class="ni" name="nid" style="display: none"/>

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" readOnly="true" name="user" placeholder="姓名">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="errorMsg" style="color: red;"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="delConfirm">删除</button>
                </div>
            </div>
        </div>
    </div>
{% endblock model %}






