{% extends "base/com_base.html" %}

{% block panel_title %}
    <div class="panel-heading">
        <h3 class="panel-title">机房管理</h3>
    </div>
{% endblock panel_title %}


{% block table %}
    <!--表格 工具栏结束-->
    <div class="row table-toolbar">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>主机ip</th>
            <th>主机用户</th>
            <th>命令</th>
            <th>执行时间</th>
            <th>操作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tb">
        {% for log in log_list %}
            <tr nid="{{ log.nid }}">
                <td na="nid">{{ log.nid }}</td>     <!-- forloop.counter -->
                <td na="hostip">{{ log.host.in_ip }}</td>
                <td na="hostname">{{ log.host.host_user }}</td>
                <td na="command">{{ log.command }}</td>
                <td na="date">{{ log.date }}</td>
                <td na="username">{{ log.user }}</td>
                <td>
                    <a class="btn btn-danger btn-sm del-row">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--分页开始-->
{% endblock table %}

{% block model %}
    {#   日志 #}
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除命令记录</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        <input type="text" class="ni" name="nid" style="display: none"/>

                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" readOnly="true" name="user" placeholder="姓名">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="errorMsg" style="color: red;"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="delConfirm">删除</button>
                </div>
            </div>
        </div>
    </div>

{% endblock model %}
{% block script %}
<script src="/static/Bootstrap_files/jquery.min.js"></script>
<script src="/static/Bootstrap_files/bootstrap.min.js"></script>
<script>
    console.log(111)
    $(function () {
        bindDel();      // 弹出删除框
        bindDelConfirm();
    });
    function bindDel() {
        $('#tb').on('click', '.del-row', function () {
            $('#delModal').modal('show');
            $(this).parent().prevAll().each(function () {
                var v = $(this).text();
                var n = $(this).attr('na');
                if (n == 'command') {
                    var cid = $(this).attr('cid');
                    $("#delModal input.form-control").val(v)
                }
                if (n == 'nid') {
                    var cid = $(this).attr('cid');
                    $("#delModal input.ni").val(v)
                }
            });
        })
    }
    function bindDelConfirm() {
    $('#delConfirm').click(function () {
        var postData = {};
        $('#delModal').find('input,select').each(function () {
                var v = $(this).val();
                var n = $(this).attr('name');
                if (n == 'gender') {
                    if ($(this).prop('checked')) {
                        postData[n] = v;
                    }
                } else {
                    postData[n] = v;
                }
            });
        console.log(postData)
        $.ajax({
            type: 'DELETE',
            data: postData,
            dataType: 'JSON',
            success:function (arg) {
                console.log(arg)
                if(arg.status){
                    window.location.reload();
                } else {
                    $('#errorMsg').text(arg.message);
                }

            }
        })
    });
}
</script>
{% endblock script %}


